/discord
/pavucontrol
/Code - OSS
/microsoft-edge
/cef_user_data
pavucontrol.ini
discord-stable.desktop
/dconf
/marlin
/pulse
/gh
/vlc
/htop
/gtk-2.0
/coreapps
/GIMP
/Electron
/copyq
key.txt
QtProject.conf
cv_debug.log
mimeapps.list
