/discord
/pavucontrol
/Code - OSS
/Code
/cura
/Element
/nordvpn
/microsoft-edge
/cef_user_data
pavucontrol.ini
discord-stable.desktop
/dconf
/marlin
/pulse
/gh
/vlc
/htop
/gtk-2.0
/coreapps
/GIMP
/Electron
/Microsoft
/configstore
/freerdp
/menus
/ookla
/teams-for-linux
/teams
/teamviewer
/copyq
/obs-studio
/Kitware
/imhex
/audacity
key.txt
QtProject.conf
cv_debug.log
gtk-3.0/bookmarks
/replugged
